<section class="container" action="/roomlisting">
    <article class="item">Cozy self contained cabin</article>
    <article class="item">Super Central Condo, Beside CN Tower</article>
    <article class="item">PRIVATE: Bath/Garden/View/Parking/Quiet</article>
    <article class="item">Cabin #3 - Alfie the A-Frame</article>
    <article class="item">Luxurious Condo near CN Tower with FREE PARKING</article>
    <article class="item">Skylit Loft in Old Montreal</article>
</section>